  .add-new-program-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .add-new-program {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-new-program-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }

  .add-new-program hr{
    margin-bottom: 25px;
  }
  
  .add-new-program-close {
    background: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
  }
  
  .add-new-program-body {
    margin-bottom: 20px;
  }
  
  .floating-label-input {
    position: relative;
    margin-bottom: 20px;
  }
  
  .floating-label-input input,
  .floating-label-input select {
    width: 94%;
    padding: 16px 12px 12px;
    border: 1px solid #5d5858;
    border-radius: 4px;
    background: none;
  }
  
  .floating-label-input label {
    position: absolute;
    top: 16px;
    left: 12px;
    color: #7d7878;
    font-size: 16px;
    transition: all 0.2s;
    pointer-events: none;
    font-weight: 500;
  }
  
  .floating-label-input input:focus + label,
  .floating-label-input input:not(:placeholder-shown) + label,
  .floating-label-input select:focus + label,
  .floating-label-input select:not([value=""]) + label {
    top: -7px;
    left: 8px;
    font-size: 14px;
    /* color: #101111; */
    color: hsl(0, 0%, 20%);
    background-color: white;
    padding: 0 10px;
  }
  
  .add-new-program-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .add-new-program-add,
  .add-new-program-cancel {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .add-new-program-cancel {
    background-color: #6c757d;
    margin-left: 10px;
  }
  
  .basic-multi-select {
    width: 100%;
  }
  
  .select__control {
    border: 1px solid #5d5858;
    border-radius: 4px;
    padding: 0;
  }
  
  .select__multi-value {
    background-color: #e1e1e1;
    color: #333;
  }
  
  /* Floating label properties for Select component */
  .select-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .select-container .select__control {
    width: 100%;
    padding: 4px 12px 6px;
    border: 1px solid #5d5858;
    border-radius: 4px;
    background: none;
  }
  
  .select-container label {
    position: absolute;
    top: 0px;
    left: 12px;
    color: #7d7878;
    font-size: 16px;
    transition: all 0.2s;
    pointer-events: none;
    font-weight: 500;
    background-color: white;
    padding: 0 4px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
  }
  
  .select-container .select__control--is-focused + label,
  .select-container .select__control--menu-is-open + label,
  .select-container .select__value-container--has-value + label {
    top: -7px;
    left: 8px;
    font-size: 14px;
    color: #101111;
    background-color: white;
    padding: 0 10px;
    z-index: 10;
  }
  
  



















