  .edit-program-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .edit-program {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .edit-program-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  .edit-program hr{
    margin-bottom: 25px;
  }
  
  .edit-program-close {
    background: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
  }
  
  .edit-program-form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-program-form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .floating-label-input {
    position: relative;
    margin-bottom: 20px;
  }
  
  .floating-label-input input {
    width: 94%;
    padding: 16px 12px 12px;
    border: 1px solid #5d5858;
    border-radius: 4px;
    background: none;
    font-size: 16px;
  }
  
  .floating-label-input label {
    position: absolute;
    top: 16px;
    left: 12px;
    color: #7d7878; 
    font-size: 16px;
    transition: all 0.2s;
    pointer-events: none;
    font-size: 18px;
    font-weight: 500;
  }
  
  .floating-label-input input:focus + label,
  .floating-label-input input:not(:placeholder-shown) + label {
    top: -7px;
    left: 8px;
    font-size: 14px;
    color: #000; 
    background-color: white;
    padding: 0 10px;
  }
  
  .edit-program-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .edit-program-save,
  .edit-program-cancel {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .edit-program-cancel {
    background-color: #6c757d;
  }
  
  /* Floating label properties for Select component */
  .select-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .select-container .select__control {
    width: 100%;
    padding: 4px 12px 6px;
    border: 1px solid #5d5858;
    border-radius: 4px;
    background: none;
  }
  
  .select-container label {
    position: absolute;
    top: 0px;
    left: 12px;
    color: #7d7878;
    font-size: 16px;
    transition: all 0.2s;
    pointer-events: none;
    font-weight: 500;
    background-color: white;
    padding: 0 4px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
  }
  
  .select-container .select__control--is-focused + label,
  .select-container .select__control--menu-is-open + label,
  .select-container .select__value-container--has-value + label {
    top: -7px;
    left: 8px;
    font-size: 14px;
    color: #101111;
    background-color: white;
    padding: 0 10px;
    z-index: 10;
  }
  